@using Kani.Models.TreeView
@inject IJSRuntime JSRuntime

<div class="treeview" @ref="elementRef">
    @if (RootItems != null)
    {
        @foreach (var item in RootItems)
        {
            <TreeViewNode Item="@item"/>
        }
    }
</div>

@code
{
    [Parameter]
    public IEnumerable<ITreeViewItem> RootItems { get; set; }
    
    [Parameter]
    public EventCallback<string[]> OnDropFiles { get; set; }
    
    private ElementReference elementRef;

    [JSInvokable]
    public async Task JSOnDropFiles(string[] files)
    {
        await OnDropFiles.InvokeAsync(files);
    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            await JSRuntime.InvokeAsync<object>("prepareDrop", DotNetObjectReference.Create(this), elementRef);
        }
    }
}